@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 85%;
    box-sizing: border-box;
}

body {
    font-family: "Cairo", sans-serif;
    color: #444;
    padding: 20px;
}


.loader {
    width: 40px;
    height: 40px;
    border: 4px solid #07c054;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}